<div class="col-md-1 col-sm-1 col-lg-1"></div>
<div class="col-md-11 col-sm-11  col-lg-11">
	<div class="col-lg-6 col-md-6 col-sm-6 text-center" >
            <a class="nonblock nontext clip_frame grpelem p-r-half-em" id="" href="mailto:info@chang.shin.com" target="_blank">
                <!-- image --><img class="block" src="images/email_white.png" alt="" width="25" height="27"></a>
            <a class="nonblock nontext clip_frame grpelem p-r-half-em" id="" href="#" target="_blank">
                <!-- image --><img class="block" src="images/facebook_white.png" alt="" width="25" height="27"></a>
            <a class="nonblock nontext clip_frame grpelem p-r-half-em" id="" href="#" target="_blank">
                <!-- image --><img class="block" src="images/twitter_white.png" alt="" width="25" height="27"></a>
            <a class="nonblock nontext clip_frame grpelem p-r-half-em" id="" href="#" target="_blank">
                <!-- image --><img class="block" src="images/youtube_white.png" alt="" width="25" height="27"></a>
            <a class="nonblock nontext clip_frame grpelem p-r-half-em" id="" href="#" target="_blank">
                <!-- image --><img class="block" src="images/pininterest_white.png" alt="" width="25" height="27"></a>
            <a class="nonblock nontext clip_frame grpelem p-r-half-em" id="" href="#" target="_blank">
                <!-- image --><img class="block" src="images/linkedin_white.png" alt="" width="25" height="27"></a>
            <a class="nonblock nontext clip_frame grpelem p-r-half-em" id="" href="#" target="_blank">
                <!-- image --><img class="block" src="images/instragram_white.png" alt="" width="25" height="27"></a>
	        <a id="" href="#/faq"  ng-click="fTabClick('faq')">
	            <span class="basicFont footer-links staticColorWhite staticLH22"><translate>footer.faq</translate></span>
	        </a>
           	<select name="language" ng-model="languageSelected"	ng-change="changeLanguage(languageSelected)" class="icon-menu basicFont">
				<option value="en"><span class="basicFont">English</span></option>
				<option value="cn"><span class="basicFont">简体中文</span></option>
			</select>
        </div>
</div>
<div >
    <div class="row text-center">
        <span class="basicFont staticColorWhite staticFS12 staticLH22">Copyright © 2017.  All rights reserved by ......</translate></span>
    </div>
</div>
 